.venv
4-Bancos de dados relacionais/2-Criar um banco de dados da Copa do Mundo/exemplo.sh
4-Bancos de dados relacionais/2-Criar um banco de dados da Copa do Mundo/__pycache__/games.cpython-312.pyc
4-Bancos de dados relacionais/5-Jogo de adivinhação de números/lol.sh
